[submodule "dependencies/repos/hptimelib"]
	path = dependencies/hptimelib
	url = https://github.com/ralequi/hptimelib.git
[submodule "dependencies/repos/netlib"]
	path = dependencies/netlib
	url = git@repit.ii.uam.es:hilo/netlib.git
